doctype html
html(lang='en')
  head
    include ../components/css.jade
    title Delete Event | SigEp
  body
    include ../components/noscript.jade
    include ../components/navbar.jade
    .container
      .row
        .col-xs-12.col-md-4.col-md-offset-4
          input#eventId.form-control(type='number', name='eventId', min='0', placeholder='Event ID')
          br
          input.btn.btn-danger.fullWidth(type='submit', name='deleteEvent', onclick='deleteEvent()' value='Delete Event')
    include ../components/footer.jade
    include ../components/js.jade
    script(src='js/navbar.js')
    script(src='js/deleteevent.js')