doctype html
html(lang="en")
  head
    include ../components/css.jade
    title Trade Duties | SigEp
  body
    include ../components/noscript.jade
    include ../components/navbar.jade
    .container-fluid
      .row
        .col-xs-12.col-md-6.col-md-offset-3
          input#netid.form-control(type='text', name='netid', placeholder='NetID')
          br
          #tradeDuties
          br
          input#submitTrade.btn.btn-success(type='submit', value='Submit Trade', onclick='submitTrade()')
    include ../components/footer.jade
    include ../components/js.jade
    script(src='js/navbar.js')
    script(src='js/tradeduties.js')