// jQuery
script(src="deps/jquery/jquery.min.js")
// Bootstrap
script(src="deps/bootstrap/js/bootstrap.min.js")
link(rel="stylesheet", type="text/css", href="deps/bootstrap/css/bootstrap.min.css")
// Bootstrap Datepicker
script(src="deps/bootstrap-datepicker/bootstrap-datepicker.min.js")
link(rel="stylesheet", type="text/css", href="deps/bootstrap-datepicker/bootstrap-datepicker.min.css")
// Formance
script(src="deps/formance/formance.min.js")
// Sweet Alert
script(src="deps/sweetalert/sweetalert.min.js")
link(rel="stylesheet", type="text/css", href="deps/sweetalert/sweetalert.css")
// Cookies
script(src="deps/cookies/cookies.min.js")
// Moment
script(src="deps/moment/moment.min.js")
// qTip
script(src="deps/qtip/jquery.qtip.min.js")
link(rel="stylesheet", type="text/css", href="deps/qtip/jquery.qtip.css")
// FullCalendar
script(src="deps/fullcalendar/fullcalendar.min.js")
link(rel="stylesheet", type="text/css", href="deps/fullcalendar/fullcalendar.min.css")
// Fonts
link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300")
// Favicon
link(rel="icon", type="image/png", size="16x16", href="img/favicon-16x16.png")
link(rel="icon", type="image/png", size="32x32", href="img/favicon-32x32.png")
link(rel="shortcut icon", type="image/x-con", href="favicon.ico")
// Universal
link(rel="stylesheet", type="text/css", href="css/main.css")
link(rel="stylesheet", type="text/css", href="css/navbar.css")
script(src='js/toolkit.js')