footer.footer
  div.containter-fluid
    p.text-muted
      p(style='margin-bottom: 0px') (c) 2015 Sigma Phi Epsilon, New York Beta Chapter | <a href='license.html'>License</a>
      | sigepfratsite@cornell.edu