nav#navbar.navbar.navbar-default
  div.container-fluid
    div.navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse-1')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a#sigep-navbar.navbar-brand(href='dashboard.html')
        img(src='img/navbarlogowhite.png', alt='SigEp', height='30px', width='90px')
    div#navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav
        li.dashboard-navbar
          a(href='dashboard.html') Dashboard
        li.dropdown
          a.dropdown-toggle(data-toggle='dropdown') Events
            span.caret
          ul.dropdown-menu
            li
              a(href='createevent.html') Create Event
            li
              a(href='deleteevent.html') Delete Event
            li
              a(href='assignduties.html') Assign Duties
        li.dropdown
          a.dropdown-toggle(data-toggle='dropdown') Members
            span.caret
          ul.dropdown-menu
            li
              a(href='viewmembers.html') View Members
            li
              a(href='accountrequests.html') Account Requests
            li
              a(href='assignroles.html') Assign Roles
        li.dropdown
          a.dropdown-toggle(data-toggle='dropdown') Finance
            span.caret
          ul.dropdown-menu
            li
              a(href='assignfines.html') Assign Fines
            li
              a(href='viewfines.html') View My Fines
      ul.nav.navbar-nav.navbar-right
        li#navbar-username
          a(href='profile.html')
        li#navbar-signout 
          a(onclick='logout()') Sign Out