//- html5shiv
<!--[if IE lte 8]>
script(src='deps/html5shiv/html5shiv.js')
<![endif]-->
//- jQuery
script(src="deps/jquery/jquery.min.js")
//- Bootstrap
script(src="deps/bootstrap/js/bootstrap.min.js")
//- Bootstrap Datepicker
script(src="deps/bootstrap-datepicker/bootstrap-datepicker.min.js")
//- Formance
script(src="deps/formance/formance.min.js")
//- Sweet Alert
script(src="deps/sweetalert/sweetalert.min.js")
//- Cookies
script(src="deps/cookies/cookies.min.js")
//- Moment
script(src="deps/moment/moment.min.js")
//- qTip
script(src="deps/qtip/jquery.qtip.min.js")
//- FullCalendar
script(src="deps/fullcalendar/fullcalendar.min.js")
//- Universal
script(src='js/toolkit.js')