doctype html
html(lang="en")
  head
    include ../components/css.jade
    title Account Requests | SigEp
  body
    include ../components/noscript.jade
    include ../components/navbar.jade
    .container-fluid
      .row
        .col-xs-12.col-md-8.col-md-offset-2
          table.table.table-hover
            thead
              tr
                th.text-center Name
                th.text-center NetID
            tbody#requests
    include ../components/footer.jade
    include ../components/js.jade
    script(src='js/navbar.js')
    script(src='js/accountrequests.js')