doctype html
html(lang="en")
  head
    include ../components/css.jade
    title Assign Roles | SigEp
  body
    include ../components/noscript.jade
    include ../components/navbar.jade
    .container-fluid
      .row
        .col-xs-12.col-md-4.col-md-offset-4
          .input-group
            input#netid.form-control(type='text', name='netid', placeholder='Net ID')
            span.input-group-btn
              button#getRoles.btn.btn-primary(type='submit', onclick='getRoles()') Get Roles
          br
          table.table.table-hover
            thead
              tr
                th Role
                th
            tbody#roles
          br
          br
          br
          br
          .input-group
            input#newRole.form-control(type='text', name='role', placeholder='New Role')
            span.input-group-btn
              button#submitNewRole.btn.btn-success(type='submit', onclick='submitNewRole()') Add Role
    include ../components/footer.jade
    include ../components/js.jade
    script(src='js/navbar.js')
    script(src='js/assignroles.js')