doctype html
html(lang="en")
  head
    include ../components/css.jade
    title Standards Board | SigEp
  body
    include ../components/noscript.jade
    include ../components/navbar.jade
    .container-fluid
      .row
        .col-xs-12.col-md-6.col-md-offet-3
    include ../components/footer.jade
    include ../components/js.jade
    script(src='js/navbar.js')
    script(src='js/standardsboard.js')