doctype html
html(lang="en")
  head
    include ./includes/head.jade
    title Account Requests | SigEp
    script(src='js/accountrequests.js')
  body
    include ./includes/noscript.jade
    include ./includes/navbar.jade
    .container-fluid
      .row
        .col-xs-12.col-sm-8.col-sm-offset-2
          table.table.table-hover
            thead
              tr
                th.text-center Name
                th.text-center NetID
                th.text-center Respond
    include ./includes/footer.jade