doctype html
html(lang="en")
  head
    include ./includes/head.jade
    title Create Event | SigEp
  body
    include ./includes/noscript.jade
    include ./includes/navbar.jade
    .container-fluid
      .row
        .col-xs-12.col-sm-4.col-sm-offset-4
          .input-group.eventInput
            h2 New Event
            br
            input#title.form-control.eventInput(type='text', placeholder='Title')
            br
            br
            br
            .input-group.eventInput
              input#startTime.form-control(type='datetime-local')
              span#startTimeButton.input-group-addon.datepickerButton
                i.glyphicon.glyphicon-calendar
            br
            .input-group.eventInput
              input#endTime.form-control(type='datetime-local')
              span#endTimeButton.input-group-addon.datepickerButton
                i.glyphicon.glyphicon-calendar
            br
          input#description.form-control.eventInput(type='text', placeholder='Description')
          br
          input#eventSubmit.btn.btn-success.eventInput(type='submit', value='Create')
    include ./includes/footer.jade