doctype html
html(lang="en")
  head
    include ./includes/head.jade
    title Dashboard | SigEp
    script(src='js/dashboard.js')
  body
    include ./includes/noscript.jade
    include ./includes/navbar.jade
    // Calendar
    .containter-fluid
      .row
        .col-xs-12.col-sm-3#userInfo
          h1#name
          #roles
          br
          input(type='submit', value='Logout', onclick='logout()')
        .col-xs-12.col-sm-6
          #calendar
    include ./includes/footer.jade