doctype html
html(lang="en")
  head
    include ./includes/head.jade
    title Login | SigEp
  body#login
    include ./includes/noscript.jade
    .container-fluid
      .row
        .col-xs-12.col-sm-6.col-sm-offset-3
          .loginbg 
            a(href='index.html')
              img(alt='SigEp NYB', height='78px', width='149px')
              br
              br
            //img(src='img/lock.png', alt='Login' height='52px', width='52px')
            //br
            //br
            //input#netid.loginInput(type='text', name='netid', placeholder='NET ID')
            //br
            //input#password.loginInput(type='password', name='password', placeholder='PASSWORD')
            //br
            //input#loginButton.loginButton(type="submit", value="LOGIN")
            //br
            //a.loginLink(href="createaccount.html") CREATE ACCOUNT