doctype html
html(lang="en")
  head
    include ./includes/head.jade
    title Request Received | SigEp
  body
    include ./includes/noscript.jade
    .container-fluid
      .row
        .col-xs-12.col-sm-6.col-sm-offset-3
          .loginbg
            a(href='index.html')
              img(src='img/nyblogowhite.png', alt='SigEp NYB', height='78px', width='149px')
            br
            br
            img(src='success.png', alt='Success', height='52px', width='52px')
            br
            br
            p.requestSuccessText <b>Your information was submitted for review</b>
            p.requestSuccessText Your account will be created once your information is verified
            p.requestSuccessText A confirmation email will be sent to you shortly
    include ./includes/footer.jade