doctype html
html(lang="en")
  head
    include ./includes/head.jade
    script(src='js/viewmembers.js')
    title Request Received | SigEp
  body
    include ./includes/noscript.jade
    include ./includes/navbar.jade
    .container-fluid
      .row
        .col-xs-12.col-sm-8.col-sm-offset-2
          h1#name
          table#members.table.table-hover
            script.
              getAccount();
              getAccounts();
    include ./includes/footer.jade