/*General Styles*/
body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

/*Login Forms*/
.loginInput {
    width: 250px;
    padding: 10px 0px 5px 0px;
    margin-bottom: 25px;
    border: none;
    border-bottom: solid 2px #ffffff;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    background: none;
}
.loginButton {
  border: 2px solid;
  border-radius: 30px;
  padding: 15px 0px 15px 0px;
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 7px;
  color: #ffffff;
  background: none;
  width: 250px;
}
.loginButton:hover {
  background: #d0739a;
}
::-webkit-input-placeholder {
   color: #ffffff;
   letter-spacing: 7px;
}
:-moz-placeholder { /* Firefox 18- */
   color: #ffffff;
   letter-spacing: 7px;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #ffffff;
   letter-spacing: 7px;
}
:-ms-input-placeholder {
   color: #ffffff;
   letter-spacing: 7px;
}
.loginLink {
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #d0739a;
  border: none;
}
.loginLink:hover {
  color: #ffffff;
}
.requestSuccessText {
  color: #ffffff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
}

/*Login Pages*/
.loginbg {
  margin-top: 8%;
  width: 100%;
  padding: 50px 20px;
  text-align: center;
}
body#login,#createaccount {
  background: linear-gradient(to right, #9b3bbf , #dd2920);
}
body#successresponse {
  background: linear-gradient(to right, #89cc52 , #b0d941);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
@media (max-width:750px) {
    .loginbg {
      margin-top: 5%;
    }
}

/* Navbar */
#navbar-signout {
    cursor: pointer;
}
#navbar-username {
    cursor: default;
}

.navbar-default {
  background-color: #dd2920;
  border-color: #9b3bbf;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #9b3bbf;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #9b3bbf;
}
.navbar-default .navbar-toggle {
  border-color: #9b3bbf;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #9b3bbf;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #9b3bbf;
  }
}