<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Fratsite</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Account</servlet-name>
    <servlet-class>servlets.Account</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AccountRequests</servlet-name>
    <servlet-class>servlets.AccountRequests</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Accounts</servlet-name>
    <servlet-class>servlets.Accounts</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Announcements</servlet-name>
    <servlet-class>servlets.Announcements</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Events</servlet-name>
    <servlet-class>servlets.Events</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlets.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Roles</servlet-name>
    <servlet-class>servlets.Roles</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Duties</servlet-name>
    <servlet-class>servlets.Duties</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Fines</servlet-name>
    <servlet-class>servlets.Fines</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Account</servlet-name>
    <url-pattern>/Account/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccountRequests</servlet-name>
    <url-pattern>/AccountRequests/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Accounts</servlet-name>
    <url-pattern>/Accounts/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Announcements</servlet-name>
    <url-pattern>/Announcements/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Events</servlet-name>
    <url-pattern>/Events/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Roles</servlet-name>
    <url-pattern>/Roles/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Duties</servlet-name>
    <url-pattern>/Duties/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Fines</servlet-name>
    <url-pattern>/Fines/*</url-pattern>
  </servlet-mapping>
</web-app>