doctype html
html(lang="en")
  head
    include ../components/deps.jade
    script(src='js/navbar.js')
    script(src='js/createevent.js')
    title Create Event | SigEp
  body
    include ../components/noscript.jade
    include ../components/navbar.jade
    .container-fluid
      .row
        .col-xs-12.col-sm-4.col-sm-offset-4
          h2 New Event
          br
          input#title.form-control.eventInput(type='text', placeholder='Title')
          br
          .input-group.eventInput
            input#startTime.form-control(type='datetime-local')
            span#startTimeButton.input-group-addon.datepickerButton
              i.glyphicon.glyphicon-calendar
          br
          .input-group.eventInput
            input#endTime.form-control(type='datetime-local')
            span#endTimeButton.input-group-addon.datepickerButton
              i.glyphicon.glyphicon-calendar
          br
          input#description.form-control.eventInput(type='text', placeholder='Description')
          br
          input#eventSubmit.btn.btn-success.eventInput(type='submit', value='Create', onclick='addEvent()')
    include ../components/footer.jade