doctype html
html(lang="en")
  head
    include ../components/deps.jade
    title Edit Event | SigEp
    script(src='js/navbar.js')
    script(src='js/editevent.js')
  body
    include ../components/noscript.jade
    include ../components/navbar.jade
    .container-fluid
      .row
        .col-xs-12.col-md-4.col-md-offset-4
          .input-group
            input#eventId.form-control(type='number', placeholder='Event ID')
            span.input-group-btn
              button#getEvent.btn.btn-primary(type='submit', onclick='getEvent()')
          br
          input#title.form-control.eventInput(type='text', placeholder='Title')
          br
          .input-group.eventInput
            input#startTime.form-control(type='datetime-local')
            span#startTimeButton.input-group-addon.datepickerButton
              i.glyphicon.glyphicon-calendar
          br
          .input-group.eventInput
            input#endTime.form-control(type='datetime-local')
            span#endTimeButton.input-group-addon.datepickerButton
              i.glyphicon.glyphicon-calendar
          br
          input#description.form-control.eventInput(type='text', placeholder='Description')
          br
          input#riskManagers.form-control.eventInput(type='number', placeholder='# of Risk Managers', min='0')
          br
          input#setClean.form-control.eventInput(type='number', placeholder='# of Set/Clean', min='0')
          br
          input#sobers.form-control.eventInput(type='number', placeholder='# of Sobers', min='0')
          br
          input#drivers.form-control.eventInput(type='number', placeholder='# of Drivers', min='0')
          br
          input#eventSubmit.btn.btn-success.eventInput(type='submit', value='Create', onclick='updateEvent()')