/*Paragraph Styles*/
.title {
    font-size: 32px;
    margin-bottom: 0;
    font-weight: 400;
}

@media (max-width:750px) {
    .title {
        margin: 0;
    }
}

/*Form*/
input[type="text"], input[type="password"] {
    width: 250px;
    padding: 10px 0px 10px 0px;
    margin-bottom: 25px;
    border: none;
    border-bottom: solid 2px #ffffff;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    background: none;
}
input[type="submit"] {
  border: 2px solid;
  border-radius: 30px;
  padding: 15px 0px 15px 0px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 7px;
  color: #ffffff;
  background: none;
  width: 250px;
}
input[type="submit"]:hover {
  background: #d96297;
}
::-webkit-input-placeholder {
   color: #ffffff;
   letter-spacing: 7px;
}
:-moz-placeholder { /* Firefox 18- */
   color: #ffffff;
   letter-spacing: 7px;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #ffffff;
   letter-spacing: 7px;
}
:-ms-input-placeholder {
   color: #ffffff;
   letter-spacing: 7px;
}

/*Login*/
body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background: #f1f1f1;
}
#login {
  margin-top: 10%;
  width: 100%;
  padding: 50px 20px;
  text-align: center;
  background: linear-gradient(to right, #9b3bbf , #dd2920);;
}
